body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 640px;
    /*margin: 0 auto;*/
    padding: 45px;
}

@media (max-width: 767px) {
    body {
	padding: 15px;
    }
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #e3e3e3;
  background-color: #060203; /*#090303;*/
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 16px;
  word-wrap: break-word;
  line-height: 1.4em;
  margin: 1em 0;
  font-size: 100%;
  box-sizing: border-box;
  font-weight: 400;
  background-image: url('/static/images/mars-background.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
}

body .octicon {
  display: inline-block;
  fill: currentColor;
}

body h1 .octicon-link,
body h2 .octicon-link,
body h3 .octicon-link,
body h4 .octicon-link,
body h5 .octicon-link,
body h6 .octicon-link {
  color: #1b1f23;
  margin-left: .2em;
  visibility: hidden;
}

body h1:hover .octicon-link,
body h2:hover .octicon-link,
body h3:hover .octicon-link,
body h4:hover .octicon-link,
body h5:hover .octicon-link,
body h6:hover .octicon-link {
  text-decoration: none;
  visibility: visible;
}

body a {
  background-color: initial;
}

body a:link,
body a:visited {
    color: #e3e3e3;
    color: #262322;
}

body a:active,
body a:hover {
  outline-width: 0;
}

body strong {
  font-weight: inherit;
  font-weight: bolder;
}

body h1 {
  font-size: 2em;
  margin: .67em 0;
}

body img {
  border-style: none;
}

body * {
  box-sizing: border-box;
}

body a {
  color: #0366d6;
  text-decoration: none;
}

body a:hover {
  text-decoration: underline;
}

body strong {
  font-weight: 600;
}

body td,
body th {
  padding: 0;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin-top: 0;
  margin-bottom: 0;
}

body h1 {
  font-size: 32px;
}

body h1,
body h2 {
  font-weight: 600;
}

body h2 {
  font-size: 24px;
}

body h3 {
  font-size: 20px;
}

body h3,
body h4 {
  font-weight: 600;
}

body h4 {
  font-size: 16px;
}

body h5 {
  font-size: 14px;
}

body h5,
body h6 {
  font-weight: 600;
}

body h6 {
  font-size: 12px;
}

body p {
  margin-top: 0;
  margin-bottom: 10px;
}

body ol,
body ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body ol ol,
body ul ol {
  /*list-style-type: lower-roman;*/
}

body ol ol ol,
body ol ul ol,
body ul ol ol,
body ul ul ol {
  /*list-style-type: lower-alpha;*/
}

body>:first-child {
  margin-top: 0!important;
}

body>:last-child {
  margin-bottom: 0!important;
}

body blockquote,
body dl,
body ol,
body p,
body pre,
body table,
body ul {
  margin-top: 0;
  margin-bottom: 16px;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

body h1 {
  font-size: 2em;
}

body h1,
body h2 {
  color: #eeaaa1;
  padding-bottom: .3em;
}

body h2 {
  font-size: 1.5em;
}

body h3 {
  font-size: 1.25em;
}

body h4 {
  font-size: 1em;
}

body h5 {
  font-size: .875em;
}

body h6 {
  font-size: .85em;
  color: #6a737d;
}

body ol,
body ul {
  padding-left: 2em;
}

body ol ol,
body ol ul,
body ul ol,
body ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

body li {
  word-wrap: break-all;
}

body li>p {
  margin-top: 16px;
}

body li+li {
  margin-top: .25em;
}
